@model Me_Spotify_App.ViewModels.FullPlayListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="display-4 font-weight text-center text-light"> @Model.PlayList.Name</h2>

<div class="containerContent">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div class="card text-white bg-dark mb-3">
                        @if (Model.PlayList.Images.Count > 0)
                        {
                            <img class="card-img-top" src="@Model.PlayList.Images[0].Url" alt="Card image cap">
                        }
                    <div class="card-body">
                        <h5 class="card-title">@Model.PlayList.Name </h5>
                        <hr />
                        @Html.ActionLink(Model.PlayList.Owner.DisplayName, "GetPublicUserProfile", "SpotifyUser", new
                        {userid = Model.PlayList.Owner.Id}, new { })
                        @Html.DisplayNameFor(modelItem => Model.PlayList.Description) :
                        @Html.DisplayFor(modelItem => Model.PlayList.Description)
                        <hr />
                        @Html.DisplayNameFor(modelItem => Model.PlayList.Public) :
                        @Html.DisplayFor(modelItem => Model.PlayList.Public)
                        <hr />
                        @Html.DisplayNameFor(modelItem => Model.PlayList.Collaborative) :
                        @Html.DisplayFor(modelItem => Model.PlayList.Collaborative)

                    </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div style="height:40em;width:55em;overflow:auto;padding-left:1em; padding-right:1em;">
                <div class="card text-white bg-success mb-3" style="width: 50rem;">
                    <div class="card-body">
                        <div class="row">
                            @foreach (var track in Model.PlayList.Tracks)
                            {
                                <div class="col-4">
                                    @if (track.Track.Album.Images.Count > 0)
                                    {
                                        <img class="card-img-top" src="@track.Track.Album.Images[0].Url" alt="Card image cap">
                                    }
                                </div>
                                <div class="col-4">
                                    <h5 class="card-title">
                                        @Html.ActionLink(track.Track.Name, "Details", "Tracks", new
                                        { trackId = track.Track.Id }, new { })
                                    </h5>
                                    @foreach (var artist in track.Track.Artists)
                                    {
                                        @Html.DisplayFor(item => artist.Name)<br />
                                    }
                                    <hr />
                                    @Html.DisplayNameFor(Model => track.Track.Album.Name) :
                                    @Html.DisplayFor(Model => track.Track.Album.Name)
                                    <hr />
                                    @Html.DisplayNameFor(Model => track.Track.Popularity) :
                                    @Html.DisplayFor(Model => track.Track.Popularity)
                                    <hr />
                                    @Html.DisplayNameFor(Model => track.Track.Explicit) :
                                    @Html.DisplayFor(Model => track.Track.Explicit)
                                    <hr />
                                    @Html.DisplayNameFor(Model => track.Track.DurationMinutes) :
                                    @Html.DisplayFor(Model => track.Track.DurationMinutes)
                                </div>
                                <div class="col-4">
                                    @Html.DisplayNameFor(Model => track.Track.TrackNumber) :
                                    @Html.DisplayFor(Model => track.Track.TrackNumber)
                                    <hr />
                                    <a href="@track.Track.Uri">Play on app</a>
                                    <hr />
                                    @Html.ActionLink("Add to Queue", "AddToQueue", "SpotifyUser", new
                                    {itemUri = track.Track.Uri}, new { })
                                    <hr />
                                    @Html.DisplayNameFor(Model => track.Track.DiscNumber) :
                                    @Html.DisplayFor(Model => track.Track.DiscNumber)
                                </div>
                            }
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
